@{
	ViewData["Title"] = "About";
}

<div class="bg-dark p-4">
	<h2>About</h2>
	<p>SportsPro Technincal Support constantly strives to procide the highest level of techical support for all products in the SportsPro family.</p>
</div>
