@{
	ViewData["Title"] = "Delete Customer";
}
@model Customer

<h2>Confirm Deletion</h2>
<h3>@Model.FirstName @Model.LastName</h3>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="CustomerId" />

	<button type="submit" class="btn btn-primary">Delete</button>
	<a asp-controller="customer" asp-action="customers"
		class="btn btn-primary">Cancel</a>
</form>
